@charset "UTF-8";
body {
	margin:0 auto;
	background:#f9f9f9;
	font-size:14px;
	color:#666;

}
.hide,.h {
	display:none;
}
.show {
	display:block;
}
	
.wx_ending {
	text-align:center;
	padding:10px;
	line-height:18px
}
.wx_ending strong {
	color:#FF8C00
}
.wx_aside {
	display:none
}

.my_nav ul {
	display:box;
	display:-ms-box;
	display:-webkit-box;
	display:flex;
	display:-ms-flexbox;
	display:-webkit-flex
}
.my_nav li {
	display:block;
	flex:1;
	-ms-flex:1;
	-webkit-flex:1;
	box-flex:1;
	-ms-box-flex:1;
	-webkit-box-flex:1
}
.order_head .oh_content:after {
	display:block;
	content:'\20';
	position:absolute;
	top:50%;
	width:12px;
	height:12px;
	border-top:1px solid #7d7d7d;
	border-left:1px solid #7d7d7d;
	background:none
}
.order_head .oh_content:after {
	margin-top:-6px;
	-webkit-transform:rotate(135deg);
	-ms-transform:rotate(135deg);
	transform:rotate(135deg)
}

.wx_wrap {
	position:relative
}

.my_order_inner {
	position:relative;
	min-height:300px;
	-webkit-transition:-webkit-transform .25s ease
}
.my_order {
	position:absolute;
	top:0;
	width:100%;
	min-height:300px;
	background-color:white;
}

.co_blue {
	color:#3985ff
}
.co_red {
	color:#e4393c
}
.my_nav {
	width:100%;
	background:#f8f8f8;
	z-index: 200;
}
.my_nav_fixed{
	position:fixed;width:100%;top:0;left:0;
	}
.my_nav ul {
	overflow:hidden
}
.my_nav a {
	position:relative;
	display:block;
	height:43px;
	line-height:45px;
	text-align:center;
	color:#666;
	border-bottom:1px solid #ddd;
	padding-bottom:2px;
	font-size:16px
}
.my_nav a:before {
	display:block;
	content:'\20';
	width:1px;
	height:20px;
	position:absolute;
	left:-1px;
	top:50%;
	margin-top:-10px;
	background:#ddd
}
.my_nav li.cur a {
	padding-bottom:0;
	border-bottom:3px solid #e4393c;
	color:#e4393c
}
.my_nav .num {
	margin-left:2px;
	color:#e4393c
}
.order {
	margin-bottom:10px;
	padding:0 10px;
	border-top:1px solid #ddd;
	/*border-bottom:1px solid #ddd;*/
	background:#fff
}
.order:first-child {
	border-top:none
}
.order_head {
	position:relative;
	margin-bottom:10px
}
.order_head .oh_content {
	display:block;
	padding:10px 0;
	border-bottom:1px solid #ddd
}
.order_head .oh_content:after {
	right:10px
}
.order_head p {
	line-height:1.7em;
	color:#666
}
.order_head span {
	margin-right:5px
}
.order_head span i {
	display:inline-block;
	width:15px
}
.order_head .oh_btn {
	position:absolute;
	top:38%;
	right:30px;
	margin-top:-20px;
	display:block;
	width:80px;
	height:40px;
	text-align:center;
	color:#fff;
	line-height:40px;
	border-radius:2px;
	-webkit-border-radius:2px;
	background:#e4393c;
	z-index:1
}
.order_head .oh_btn:active {
	background:#e4393c;
}
.order_item {
	position:relative;
	margin-bottom:10px
}
.order_item .oi_content,.order_item .oi_button {
	display:block
}
.order_item .oi_content {
	overflow:hidden
}
.order_item .oi_content p {
	margin-bottom:3px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis
}
.order_item .oi_content p .count {
	display:inline-block;
	width:50px;
	color:#666
}
.order_item .oi_content p .price {
	color:#e4393c
}
.order_item .oi_content p .tag {
	display:inline-block;
	width:30px;
	height:15px;
	margin-right:5px;
	line-height:15px;
	text-align:center;
	background:#000;
	color:#fff;
	font-size:12px
}
.order_item .image {
	display:block;
	width:50px;
	height:50px;
	float:left;
	margin-right:10px
}
.order_item .oi_button {
	position:absolute;
	right:0;
	top:5px;
	display:block;
	width:80px;
	height:30px;
	line-height:30px;
	color:#fff;
	text-align:center;
	background:#ff9600;
	border-radius:2px;
	-webkit-border-radius:2px
}
.order_item .oi_button:active {
	background:#ed870f
}
.order_item .oi_button ~ .oi_content {
	padding-right:100px
}

/* 搜索条---- */
.hd_bar {
position: relative;
z-index: 1000;
left: 0;
top: 0;
width: 100%;
height: 44px;
line-height: 44px;
background-color: #EFEFEF;
border-bottom: 1px solid #DDD;
}
.hd_bar_tit, .hd_search_frm, .hd_search_tit {
position: absolute;
left: 0;
top: 0;
z-index: -1;
width: 100%;
height: 100%;
text-align: center;
font-size: 16px;
font-weight: normal;
color: #333;
}

.hd_search_frm {
padding: 0 10px;
}
.WX_search_frm, .WX_search_txt, .hd_bar_tit, .hd_search_frm, .hd_search_txt, .hd_search_tit, .wx_history {
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.hd_search_txt {
width: 100%;
padding: 0 30px 0 31px;
display: block;
height: 30px;
border-radius: 3px;
border: 0 none;
margin-top: 7px;
background-color: #fff;
font-size: 14px;
}
.WX_search_txt, .hd_search_txt {
background: url(/Public/Images/front/main_sprite_pad.png) -222px -223px no-repeat;background-size:250px;
}
.hd_me {
min-width: 32px;
height: 44px;
padding: 0 9px;
float: right;
display: none;
}
.hd_search_btn {
height: 44px;
overflow: hidden;
line-height: 44px;
font-size: 16px;
text-align: center;
color: #007AFF;
}

/* TABLET LAYOUT 
----------------------------------------------- */

@media all and (min-width:540px){	/*pad 768px*/
	
body{font-size:24px;}
.header-title{font-size:1em;}
.mt13{margin-top:13px;}
.my_nav a{height:65px;line-height:67px;font-size:1em;}
.order_item .image{width:80px;height:80px;}
.order_head .oh_btn{width:120px;height:50px;line-height:50px;}
/*搜索条*/
.hd_bar{
	height: 70px;
line-height: 70px;
}
.hd_search_txt{
height:55px;
font-size:2em;
padding: 0 30px 0 87px;
}
.WX_search_txt, .hd_search_txt {
background: url(/Public/Images/front/main_sprite_pad.png) -363px -367px no-repeat;background-size:420px;
}
.WX_search,.WX_search_frm{
height: 70px;	
}
.WX_search_txt{
height: 55px;
font-size: 1.2em;
padding: 0 30px 0 85px;
}
.WX_me{width:87px;height: 70px;}
.WX_search_btn{height: 70px;
line-height: 70px;
font-size: 1em;}
/*搜索条end*/	
}