.t-com-de{ width:100%; overflow:hidden; padding:6px 0;}
.t-com-de-le{ float:left; width:165px; text-align:right; font-weight:bold; color:#666;}
.t-com-de-ri{ float:left; margin-left:5px;}
.t-com-de-ri img{ margin:0 10px 10px 0;}