/*sitemap*/
.sitemapPanel-title h1,
.spc-panel-list dt,
.spc-panel-links,
.spc-panel-links a{
	color: #666;
}
.spc-panel-links a:hover{
	color:#FF7F00;
}
.spt-txt,
.spt-icon,
.spc-panel-links li,
.spc-panel-list dt,
.spc-panel-list dd{
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: middle;
}

.sitemapPanel-title h1{
	font-size:14px;
}
.sitemapPanel-title a{
	color:#0066cc;
}
.sitemapPanel{
	margin-top:20px;
	border:1px solid #ccc;
}
.sitemapPanel-title{
	padding: 9px 13px;
	border-bottom: 1px solid #e3e3e3;
}
.sitemapPanel-content{
	padding:25px 18px;
}
.spc-panel-title{
	padding-left: 13px;
}
.spt-icon{
	width: 15px;
	height: 27px;
	background: url(/Public/Images/common/sprite_sitemap.png) no-repeat;
}
.spt-icon.right{background-position:0px 0px;}
.spt-icon.left{background-position:-15px 0px;}

.spt-txt{
	color: #fff;
	height:27px;
	line-height: 27px;
	background: url(/Public/Images/common/sitemap_txt.jpg) repeat-x;
}
.spc-panel-list dt{
	width: 80px;
	padding: 9px 0;
	text-align: center;
}
.spc-panel-list dd{
	padding-top: 9px;
	width: 805px;
	padding-left:60px;
	border-bottom: 1px dotted #dfdfdf;
}
.spc-panel-links li{
	margin-bottom:9px;
}
.spc-panel-links li span{
	margin:0 8px;
}
/*end sitemap*/